<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // $(function () {
        var socket = io();
        //     $('form').submit(function () {
        //         socket.emit('chat message', $('#m').val());
        //         $('#m').val('');
        //         return false;
        //     });
        //     socket.on('res message', function (msg) {
        //         $('#messages').append($("<li></li>").text(msg));
        //     });
        // });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var n = 15;
        // $("body").attr('disable','disable');
        // $( "div" ).unbind("click");
        function content() {
            var width = (n * 40) + (n * 2);
            $("#wrapper").css("width", width + "px");
            $("#wrapper").css("margin", "auto");
        }

        $(document).ready(function () {
            //n x n

            content();

            for (var i = 1; i <= n; i++) {
                for (var j = 1; j <= n; j++)
                    $("#wrapper").append("<div class='oco' id='oco" + i + "-" + j + "'></div>");
            }

            // $("*").unbind("click");

            $('.oco').css("width", "40px");
            $('.oco').css("height", "40px");
            $('.oco').css("background-color", "#ECA2F0");
            $('.oco').css("border", "solid 1px #6C1D70");
            $('.oco').css("border-radius", "5px");
            $('.oco').css("float", "left");
            $('.oco').css("text-align", "center");
//            $('#oco'+id).css("color", "white");
//            $('#oco'+id).css("font-weight", "bold");
            $('.oco').css("font-size", "2em");

            var count = 0;

            $(".oco").click(function () {
                if (count % 2 == 0) {
                    var ctemp = $(this).attr('id');
                    var id = socket.id;
                    socket.emit('chat message', {
                        msgtex: "<img src='./images/o.png' alt='o' height='20' width='20'>",
                        coun: count,
                        ele: ctemp,
                        id: id
                    });
                    // $('#wrapper').css('pointer-events', 'none');
                    return false;
                }
                else {
                    var ctemp = $(this).attr('id');
                    var id = socket.id;
                    socket.emit('chat message', {
                        msgtex: "<img src='./images/x.png' alt='x' height='20' width='20'>",
                        coun: count,
                        ele: ctemp,
                        id: id
                    });
                    // $('#wrapper').css('pointer-events', 'none');
                    return false;
                }

            });
            socket.on('res message', function (msg) {
                $("#" + msg.ele).html(msg.msgtex);
                // if (msg.tabc == msg.id)
                    // $('#wrapper').css('pointer-events', 'none');
                // else $('#wrapper').css('pointer-events', 'auto');
                // alert(msg.abc);
                count = msg.coun;
            });

            $(".oco").mouseover(function () {
                $(this).css("background-color", "#401243");
            });

            $(".oco").mouseout(function () {
                $(this).css("background-color", "#ECA2F0")
            });

        });
    </script>
</head>
<body>
<div id="wrapper"></div>
</body>
</html>